@{
    ViewData["Title"] = "Ordens de Servico";
    Layout = (string)"_LayoutMenu";
}

@model List<PetsOn.Models.OrdemServicoViewModel>
@using Microsoft.AspNetCore.Http
@using PetsOn.Helpers
@inject IHttpContextAccessor Accessor

<section class="container py-4 text-center">

    <div>

        <h3 class="p-4 mb-5 text-white bg-warning bg-opacity-75">Ordem de Servicos</h3>

        <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            <div>
                Visualize as Ordens de Serviços realizadas e agendadas.
            </div>
        </div>

        <section class="text-center">

            <table class="table table-responsive d-lg-table table-hover">
                <thead class="bg-warning table-striped">
                    <tr class="text-white">
                        <th scope="col">Editar</th>
                        <th scope="col">Data do cadastro</th>
                        <th scope="col">Data da realização</th>
                        <th scope="col">Data da Agendamento</th>
                        <th scope="col">Observação</th>
                        <th scope="col">Códico CLiente</th>
                        @*<th scope="col">Códico Animal</th>*@

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="table-warning">
                                <button type="button" class="btn btn-block btn-success btn-custom-tabela" onclick="Editar(@item.Codigo_OrdemServico)">
                                    <span class='bx bx-purchase-tag-alt icon' aria-hidden="true"></span>
                                </button>
                            </td>
                            <td class="table-success">@item.Data</td>
                            <td class="table-info">@item.Data_Realizacao</td>
                            <td class="table-secondary">@item.Data_Agendamento</td>
                            <td class="table-info">@item.Observacao</td>
                            <td class="table-info">@item.Codigo_Cliente</td>
                            @*<td class="table-info">@item.Codigo_Animal</td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </div>
    <br>

</section>




