@{
    ViewData["title"] = "Cadastro Ordem de Servico";
    Layout = (string)"_LayoutMenu";
}

@model PetsOn.Models.OrdemServicoViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section class="container py-4 text-center">

        <h3 class="p-4 mb-5 text-white bg-warning bg-opacity-75">Cadastrar Ordem de Servico</h3>

        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            <div>
                Para realizar ou agendar um atendimento cadastre uma ordem de servico.
            </div>
        </div>
    </section>

    <!-- Section: Design Block -->
    <section class="text-center text-lg-start">

        <!-- Jumbotron -->
        <div class="container py-4">
            <div class="row g-0 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card cascading-right">
                        <div class="card-body p-5 shadow-5 text-center">
                            <h2 class="fw-bold mb-5">Preencha a Ordem de Serviço</h2>

                            @Html.ValidationSummary(true)

                            <form asp-action="OrdemServicoCadastro" asp-controller="OrdemServicoCadastro" method="post" autocomplete="off">
                                <input type="hidden" asp-for="Codigo_OrdemServico" value="@Model.Codigo_OrdemServico" />


                                <div class="col mb-4">
                                    <label class="input-group-text" for="inputGroupSelect01">Clientes</label>
                                    <select asp-for="Codigo_Cliente" class="form-select" id="inputGroupSelect01" asp-items="@Model.ListaClientes">
                                        <option selected>Selecione o cliente cadastrado...</option>
                                    </select>
                                    <span asp-validation-for="ListaClientes" class="text-danger small"></span>
                                </div>

                                <div class="col mb-4">
                                    <label class="input-group-text" for="inputGroupSelect01">Pets</label>
                                    <select asp-for="Codigo_Animal" class="form-select" id="inputGroupSelect01" asp-items="@Model.ListaAnimais">
                                        <option selected>Selecione o pet do cliente...</option>
                                    </select>
                                    <span asp-validation-for="ListaAnimais" class="text-danger small"></span>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-floating">
                                            <input asp-for="Data" type="date" value="@Model.Data_Realizacao" class="form-control" id="floatingData" placeholder="Data">
                                            <label for="floatingData">Realizar Atendimento</label>
                                            <span asp-validation-for="Data_Realizacao" class="text-danger small"></span>
                                        </div>

                                        <div class="form-floating">
                                            <input asp-for="Data" type="date" value="@Model.Data_Agendamento" class="form-control" id="floatingData" placeholder="Data">
                                            <label for="floatingData">Agendar Atendimento</label>
                                            <span asp-validation-for="Data_Agendamento" class="text-danger small"></span>
                                        </div>

                                    </div>
                                </div>

                                <div class="col mb-4">
                                    <div class="form-floating">
                                        <textarea asp-for="Observacao" type="text" class="form-control" placeholder="Observações" id="floatingObservacao"></textarea>
                                        <label for="floatingObservacao">Observação</label>
                                        <span asp-validation-for="Observacao" class="text-danger small"></span>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-block btn-warning btn-custom-cadastro"><span class='bx bx-spreadsheet icon' aria-hidden="true"></span>&nbsp;Cadastrar</button>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <img src="../img/dog agenmda.jpg" class="w-100 rounded-4 shadow-4" alt="imagem cachorrinho" />
                </div>
            </div>
        </div>
    </section>
}